<header class="relative bg-black px-4 py-8">
  <section class="text-center">
    <h1 class="gradient-text text-9xl font-bold">James Reed</h1>
    <h2 class="gradient-text">Front End Developer</h2>
  </section>

  <section class="absolute right-4 bottom-2">
    <a href="https://github.com/reed756" target="_blank">
      <fa-icon
        [icon]="faGithub"
        class="icon-text ml-2 rounded-md text-4xl"
        animation="flip"
      ></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/james-an-reed/" target="_blank">
      <fa-icon
        [icon]="faLinkedin"
        class="icon-text ml-2 rounded-md text-4xl"
        animation="flip"
      ></fa-icon>
    </a>
  </section>
</header>
