<app-section [sectionName]="'hero'">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col px-0 lg:flex-row-reverse">
      <div>
        <h1 class="text-5xl font-bold">Full Stack Developer</h1>
        <h2 class="text-2xl font-semibold">
          Angular • TypeScript • RxJS • Node.js • JavaScript
        </h2>
        <p class="py-6">
          I am a Full Stack Developer specialising in Angular, TypeScript, RxJS,
          Node.js and JavaScript. My current interests lie in UX and how it
          makes the user feel. I have over 3 years of experience in the industry
          and I have built applications for the self storage and freelancing
          industries.
        </p>
        <div class="flex gap-4">
          <a href="#projects">
            <button class="btn btn-accent">View Projects</button>
          </a>
          <a href="https://github.com/reed756" target="_blank" rel="noopener">
            <button class="btn btn-primary">Github</button>
          </a>
          <a
            href="../../../assets/James Reed - Full Stack Developer.pdf"
            download="James Reed - Full Stack Developer.pdf"
          >
            <button class="btn btn-secondary">CV</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</app-section>
