<div class="container text-center">
  <button
    type="button"
    class="btn btn-primary mb-5 border shadow"
    (click)="downloadPdf()"
    (keyup.enter)="downloadPdf()"
    (keyup.space)="downloadPdf()"
  >
    Download PDF CV
  </button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group [(isOpen)]="isWorkExperienceOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Work Experience</div>
          <div style="width: 10.95px">
            @if (!isWorkExperienceOpen) {
              <div style="color: white">></div>
            }
            @if (isWorkExperienceOpen) {
              <div style="color: white">v</div>
            }
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Front End Developer</h2>
          <h3 class="text-primary">RADical Systems (UK) Limited</h3>
          <h5>Oct 2023 - Present</h5>
          <ul>
            <li>
              Built a new basket whilst working on the new customer portal.
            </li>
            <li>
              Challenges included raising knowledge of SQL so that I could work
              on procedures used within the application. I did this by utilising
              PluralSight to take courses on SQL.
            </li>
            <li>
              This allowed me to be an asset to the team more quickly as well as
              participate in code reviews and testing.
            </li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">Junior Front End Developer</h2>
          <h3 class="text-primary">UniTaskr</h3>
          <h5>Mar 2022 - Jun 2023</h5>
          <ul>
            <li>
              Learned the Angular and Ionic framework to build front end pages
              and components during release of new app for ios, Android and web
              in the first 6 months.
            </li>
            <li>
              Learned Firebase Functions and chart.js to build a dashboard to
              show login/register statistics to the founders of the business.
            </li>
            <li>
              Built the front end components for business and student
              subscription models to help increase revenue for the task board
              within the app by over 100%.
            </li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">Fulltime Student</h2>
          <h3 class="text-primary">Northcoders</h3>
          <h5>Nov 2021 - Mar 2022</h5>
          <ul>
            <li>
              Built both a UI and an API for a news article site using
              JavaScript, React, Node.js and Express.
            </li>
            <li>
              Learnt React Native and TypeScript to collaborate on a mobile app
              for a group project.
            </li>
            <li>
              Best practices taught throughout, including version control with
              git, TDD and pair programming.
            </li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">Customer Service / Collections Associate</h2>
          <h3 class="text-primary">Salary Finance</h3>
          <h5>May 2019 - May 2021</h5>
          <ul>
            <li>
              Handle all day-to-day collections contact with borrowers that are
              having difficulty making repayments.
            </li>
            <li>
              Worked with another colleague to implement a new weekly email
              campaign.
            </li>
            <li>Responsible for delivering reports of collections activity.</li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">Customer Account Agent</h2>
          <h3 class="text-primary">Fredrickson</h3>
          <h5>Jun 2017 - Oct 2018</h5>
          <ul>
            <li>
              Advise customers on financial plans to align with / improve their
              economic situation.
            </li>
            <li>
              Prepare for and attend weekly meetings to present new ways of
              working.
            </li>
            <li>
              Continuously evaluate individual performance within the team to
              reach key monthly and yearly targets.
            </li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">General Assistant</h2>
          <h3 class="text-primary">Sainsburys</h3>
          <h5>Mar 2016 - Jun 2017</h5>
          <ul>
            <li>
              Worked with team to achieve an award for a new store opening in
              Teddington in 2016.
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isEducationOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Experience</div>
          <div style="width: 10.95px">
            @if (!isEducationOpen) {
              <div style="color: white">></div>
            }
            @if (isEducationOpen) {
              <div style="color: white">v</div>
            }
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Bachelor of Arts in Creative Writing</h2>
          <h3 class="text-primary">University of Roehampton</h3>
          <ul>
            <li>Graduated from the University of Roehampton in 2016.</li>
            <li>Graduated with a 2:1.</li>
            <li>
              Participated in extracurricular clubs such as pool club, ski club,
              and the fresh magazine team.
            </li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2 class="mb-0">A Levels</h2>
          <h3 class="text-primary">St Philip Howard Catholic High School</h3>
          <ul>
            <li>
              3 A levels in Physics, Mathematics, English Language and 1 AS in
              Physics.
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isCertificationsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Certifications</div>
          <div style="width: 10.95px">
            @if (!isCertificationsOpen) {
              <div style="color: white">></div>
            }
            @if (isCertificationsOpen) {
              <div style="color: white">v</div>
            }
          </div>
        </button>
        <div style="text-align: left">
          <h2>Software Engineering Bootcamp</h2>
          <h3 class="mb-0">Northcoders</h3>
          <ul>
            <li>Obtained March 2022</li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2>Angular & NodeJS - The MEAN Stack Guide</h2>
          <h3 class="mb-0">Udemy</h3>
          <ul>
            <li>Obtained November 2022</li>
          </ul>
        </div>
        <div style="text-align: left">
          <h2>Angular - The Complete Guide</h2>
          <h3 class="mb-0">Udemy</h3>
          <ul>
            <li>Obtained July 2022</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isSkillsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Skills</div>
          <div style="width: 10.95px">
            @if (!isSkillsOpen) {
              <div style="color: white">></div>
            }
            @if (isSkillsOpen) {
              <div style="color: white">v</div>
            }
          </div>
        </button>
        <div class="row" style="text-align: left">
          <div class="col">
            <h3>Programming Languages</h3>
            <ul>
              <li>JavaScript</li>
              <li>TypeScript</li>
            </ul>
          </div>
          <div class="col">
            <h3>Frameworks</h3>
            <ul>
              <li>Angular</li>
              <li>NodeJS</li>
              <li>Express</li>
            </ul>
          </div>
          <div class="col">
            <h3>Other skills</h3>
            <ul>
              <li>Source control with Git</li>
              <li>Agile Development</li>
              <li>RxJS</li>
              <li>NgRx</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
