<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
      <app-project-card projectName="Project 1">

      </app-project-card>
    </div>
    <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
      <app-project-card projectName="Project 2">

      </app-project-card>
    </div>
    <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
      <app-project-card projectName="Project 3">

      </app-project-card>
    </div>
  </div>
</div>
