<section class="flex">
  <!--Hero Section-->
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="../../assets/card-profile.png"
        alt="Profile Picture"
        class="max-w-sm rounded-lg shadow-2xl"
        width="256"
        height="256"
      />
      <div>
        <h1 class="text-5xl font-bold">About Me</h1>
        <p class="py-6">
          I'm a Full Stack Developer specialising in Angular, TypeScript, RxJS
          and Node.js. My current interests include UX and the Unit Testing. I
          have over 3 years of experience in the industry and I have built
          applications for the freelancing and self storage industries.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <!--Featured Project-->
  <div>
    <div class="text-center">
      <h2 class="text-lg">Featured Project</h2>
      <h4 class="text-md">{{ featuredProject.name }}</h4>
    </div>

    <div class="carousel size-auto">
      @for (image of featuredProject.images; track $index) {
        <div [id]="'item' + $index" class="carousel-item size-fit">
          <img [src]="image" [alt]="image" class="w-full" />
        </div>
      }
    </div>

    <div class="flex size-auto justify-center gap-2 py-2">
      @for (image of featuredProject.images; track $index) {
        <button class="btn btn-xs" (click)="scrollTo('item' + $index)">
          {{ $index + 1 }}
        </button>
      }
    </div>

    <p class="text-md">{{ featuredProject.summary }}</p>
    <p class="text-md">Visit the portfolio section to learn more!</p>
  </div>
</section>
