<app-section [sectionName]="'contact'">
  <h2 class="mb-6 text-left text-4xl font-bold">Contact</h2>
  <div class="card bg-base-100 w-full shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Let's work together</h2>
      <div class="card-actions justify-end">
        <a
          href="mailto:reedandj1@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="btn btn-ghost">Email Me</button>
        </a>
      </div>
    </div>
  </div>
</app-section>
