<app-section [sectionName]="'contact'">
  <h2 class="mb-6 text-left text-4xl font-bold">Contact</h2>
  <div class="card bg-base-100 w-full shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Let's work together</h2>
      <div class="card-actions justify-end">
        <a
          href="mailto:reedandj1@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="btn btn-ghost">
            <svg
              aria-label="Email icon"
              width="16"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2"
                fill="currentColor"
                stroke="black"
              >
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
            Email Me
          </button>
        </a>
      </div>
    </div>
  </div>
</app-section>
